
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {  font:Montenegrin Gothic One;
     fontsize:x16;
     lineheight:1.6;
     fontcolor: midnightblue;
   h1: beige blue;
   h2: beige orange;
   h3: beige green;
   h4: beige yellow;
   h5: beige red;
   h6: beige violet;

margin: 1em;
margin: -3px;
margin: auto;

fontweight: 20px;
   
