/* main.css - */
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');


}
*{box-sizing:border-box}

h1#heading {
  color: rebeccapurple;
            }

* {
    margin: 100;
    padding: 100;
    box-sizing: border-box;
}

* {
  lineheight = 1.6 px
} 

* {
  font color: white
}

{
  font size:h1:h6, different sizes;

}
  {
  font weight:30px;
  }
